body {
    background: #8694b6;
    padding: 0 2rem;
    overflow: auto;
}

* {
    font-family: Manrope, sans-serif;
}

h1 {
    font-size: 68px;
    font-weight: normal;
    margin: 10px 0px;
}

p {
    font-size: 50px;
    font-weight: normal;
    color: #31dc05;
    margin: 10px 0px;
}

.page{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-form{
    margin: 0px 0px 30px;
}

a{
    color: black;
    text-decoration: none;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.delete-button{
    background: #e1e1e1;
    color: black;
}

.delete-button:hover {
    background: red;
    color: #eeeeee;
}

a:hover, button:hover{
    color: #fdc461;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

table{
    border: 1px solid #eee;
    table-layout: fixed;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #eee;
}
table th {
    font-weight: bold;
    padding: 5px;
    background: transparent;
}
table td{
    padding: 5px 10px;
    border: 1px solid #eee;
    text-align: center;
}
table tbody tr:nth-child(odd){
    background: #fff;
}
table tbody tr:nth-child(even){
    background: #F7F7F7;
}

